.menuList {
    z-index: 50;
    height: 50px;
    width: fit-content;
    justify-content: left;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.navbar {
    box-shadow: 0px 3px 3px #a8a8a8;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    width: 100%;
    height: 51px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: fixed;
}

.navbarWrapper {
    height: 51px;
    background-color: white;
}

.menuButton {
    width: fit-content;
    height: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

.logo {
    height: 50px;
}

.loginbtn {
    z-index: 100;
}