.itemTable {
    border: 3px solid black;
    width: max(100%, 1000px);
    justify-content: space-evenly;
    table-layout: fixed;
}

tr:nth-child(2n-1) {
    background-color: #d8d8d8;
}

th {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid black;
    height: 50px;
}

td {
    border: 1px solid black;
    text-align: left;
    text-indent: 10px;
    overflow-wrap: break-word; 
}

.headerWrapper {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}

.columnName {
    word-wrap: normal;
    width: calc(100% - 30px);
}

.buttonWrapper {
    left: calc(100% - 25px);
    margin-top: -10px;
    height: 30px;
    width: 30px;
}

.upArrow {
    margin-top: -3px;
    height: 20px;
    width: 20px;
    background-color: lightgray;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    border: none;
}

.upArrow:hover {
    background-color: #e0e0e0;
}

.downArrow {
    height: 20px;
    width: 20px;
    background-color: lightgray;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    border: none;
}

.downArrow:hover {
    background-color: #e0e0e0;
}