.projectTitle {
    font-size: 30px;
}

.tableTitle {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
}

.searchBox {
    height: fit-content;
    align-self: center;
    font-size: 18px;
    margin-left: 10px;
}

.searchWrapper {
    font-size: 18px;
    align-self: center;
    height: fit-content;
}

.tableButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}