.pageWrapper {
  width: 94%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 3%;
  padding-right: 3%;
}

.errorBox {
  font-size: 25px;
  margin-top: 20px;
}